* {
  box-sizing: border-box;
}

body {
	background:  url("../images/concrete_seamless.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}
h1 {
	color: #ffffff;
	background: #4aaaa5;
	width: 30%;
	height: 80px;
	padding: 20px;
	text-align: center;
	font-size: 1.7em;
	font-weight: 700;
    float: left;
}
h2 {
    font-size:1.6em;
	color: #4aaaa5;
	font-weight: 600;
	margin-top: 10px;
	border-bottom: 2px solid #efefef;
	padding-bottom: 20px;
}
h3 {
	font-size:1.3em;
	color: #4aaaa5;
	font-weight: 600;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 2px solid #efefef;

}
.linkport {
	width: 270px;
	height: 50px;
	background: #4aaaa5;
	float: left;
	color: #ffffff;
	position: absolute;
	text-align: center;
	font-size: 1.2em;
	margin-top: 178px;
	padding-top: 7px;
	text-decoration: none;
}
h1, h2, h3, .linkport{
	font-family: 'Georgia', Times, "Times New Roman", serif;

}
.linkport a{
	text-decoration: none;
	color: #ffffff;
}
header {
	width: 100%;
    background: #ffffff;
	border-bottom: 2px solid #cccccc;
	overflow: auto;
}
div {
	background: #ffffff;
	border-color: #dddddd;
}
nav {
	float: right;
	padding-top: 25px;
}
nav a {
	color: #999999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
	padding-top: 7px;
}
nav a:first-child {
  border-left: 0 none;
}
article {
	margin-top: 20px;
}
article p {
	text-indent: 1em;
}
.main {
	width: 960px;
    margin: 0 auto;
}
#container {
	width: 650px;
	background: #ffffff;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 70px;
	float: left;
	padding: 30px;
	padding-top: 10px;
	line-height: 1.8;
	border: 1px solid #dddddd;
}
#contact {
	width: 270px;
	background: #ffffff;
	margin: auto;
	margin-top: 30px;
	padding: 20px 20px 30px 30px;
	border: 1px solid #dddddd;
	float: right;
}
#photo {
	width: 250px;
	height: 170px;
	float: left;
	margin: 25px 20px 20px 0px;
}
form {
	padding-top: 20px;
	line-height: 1.5; 
}
input { 
	width: 100%;
	height: 30px;
	border: 1px solid #dddddd;
	font-size: 0.8em;
	margin-bottom: 15px;
	color: #efefef;
}
textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #dddddd;
}
input[type=submit] {
	background: #4aaaa5;
	width: 120px;
	height: 40px;
	color: #ffffff;
	font-size: 1em;
	cursor: pointer;
}
.port {
	position: relative;
    float: left;
    overflow: auto;
}
.portimg {
	width: 270px;
	float:left;
	margin: 15px 0px 15px 0px;
	padding-top: 20px;
	opacity: 0.8;
}
.port:nth-child(even) {
	margin-right: 23px;
}
.port:nth-child(odd) {
	margin-left: 23px;
}
footer {
   position: fixed;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 70px;
   text-align: center;
   background-color: #666666;
   border-top-width:  5px;
   border-top:solid  #4aaaa5;
   padding-top: 25px;
   font-family: 'Georgia', Times, "Times New Roman", serif;
   color: #dddddd;
   font-size: 0.8em;
}
.icon{
  width: 62px;
  height: 62px;
  margin-top: 20px;
 }
#centericon {
	margin-left: 11px;
	margin-right: 11px;
}
nav a:hover {
	color: #4aaaa5;
}
.portimg {
	cursor: pointer;
}
input:focus {
	background: #6FFFF7;
}
textarea:focus {
	background: #6FFFF7;
}


